  @{{httpMethod}}{{#subresourceOperation}}
  @Path("{{{path}}}"){{/subresourceOperation}}
{{#hasConsumes}}
  @Consumes({{#consumes}}"{{{mediaType}}}", {{/consumes}})
{{/hasConsumes}}
{{#hasProduces}}
  @Produces({{#produces}}"{{{mediaType}}}", {{/produces}})
{{/hasProduces}}
  {{#useCoroutines}}suspend {{/useCoroutines}}fun {{nickname}}(
{{#allParams}}
{{>param-header}}{{>param-cookie}}{{>param-path}}{{>param-query}}{{>param-form}}{{>param-body}},
{{/allParams}}
  ): Response {
    return Response.ok().entity("magic!").build();
  }