{{#returnResponse}}
: Response
{{/returnResponse}}
{{^returnResponse}}
  {{#vendorExtensions.x-return-response}}
: Response
  {{/vendorExtensions.x-return-response}}
  {{^vendorExtensions.x-return-response}}
    {{#hasMultipleResponses}}
: {{#pascalcase}}{{nickname}}{{/pascalcase}}UnionResponse
    {{/hasMultipleResponses}}
    {{^hasMultipleResponses}}
      {{#returnType}}
: {{{returnType}}}
      {{/returnType}}
    {{/hasMultipleResponses}}
  {{/vendorExtensions.x-return-response}}
{{/returnResponse}}
