package {{package}}

import java.io.InputStream

import {{javaxPackage}}.ws.rs.*
import {{javaxPackage}}.ws.rs.core.Response

{{#imports}}import {{import}}
{{/imports}}

{{#hasConsumes}}
@Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} })
{{/hasConsumes}}
{{#hasProduces}}
@Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} })
{{/hasProduces}}
@Path("/")
{{#interfaceOnly}}
interface {{classname}} {
{{/interfaceOnly}}
{{^interfaceOnly}}
class {{classname}} {
{{/interfaceOnly}}
{{#operations}}
  {{#operation}}

    {{#interfaceOnly}}
{{>api-method-def}}
    {{/interfaceOnly}}
    {{^interfaceOnly}}
{{>api-method-body}}
    {{/interfaceOnly}}
  {{/operation}}
{{/operations}}
}
