package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
{{#models}}
  {{#model}}
    {{#isEnum}}
{{>model-enum}}
    {{/isEnum}}
    {{^isEnum}}
      {{#oneOf}}
{{>model-oneof}}
      {{/oneOf}}
      {{^oneOf}}
        {{#isAlias}}
typealias {{classname}} = {{{dataType}}}
        {{/isAlias}}
        {{^isAlias}}
{{>model-pojo}}
        {{/isAlias}}
      {{/oneOf}}
    {{/isEnum}}
  {{/model}}
{{/models}}
