import com.fasterxml.jackson.annotation.JsonProperty
{{#hasEnums}}
import com.fasterxml.jackson.annotation.JsonCreator
import com.fasterxml.jackson.annotation.JsonValue
{{/hasEnums}}

{{#isDeprecated}}
@Deprecated(message = "This schema is deprecated.")
{{/isDeprecated}}
{{#additionalModelTypeAnnotations}}
{{{.}}}
{{/additionalModelTypeAnnotations}}
data class {{classname}}(
{{#requiredVars}}
  {{^isReadOnly}}
{{>model-pojo-prop}}
  {{/isReadOnly}}
{{/requiredVars}}
{{#hasRequired}}
  {{#hasOptional}}

  {{/hasOptional}}
{{/hasRequired}}
{{#optionalVars}}
  {{^isReadOnly}}
{{>model-pojo-prop}}
  {{/isReadOnly}}
{{/optionalVars}}
){{#parent}}: {{{parent}}}{{#isMap}}(){{/isMap}}{{#isArray}}(){{/isArray}}{{/parent}}{{#vendorExtensions.x-has-data-class-body}} {
{{/vendorExtensions.x-has-data-class-body}}
{{#allVars}}
  {{#isReadOnly}}
  override val {{{baseName}}}: {{dataType}}
    get() = {{{defaultValue}}}
  {{/isReadOnly}}
{{/allVars}}
{{>model-enum-container}}
{{#vendorExtensions.x-has-data-class-body}}
}
{{/vendorExtensions.x-has-data-class-body}}
