{{#isCookieParam}}
    @CookieParam("{{#lambda.escapeDollar}}{{baseName}}{{/lambda.escapeDollar}}")
  {{^isContainer}}
    {{#defaultValue}}
    @DefaultValue({{#lambda.doublequote}}{{{.}}}{{/lambda.doublequote}})
    {{/defaultValue}}
  {{/isContainer}}
    {{>param-def}}
{{/isCookieParam}}